<!DOCTYPE html>
<html lang="en-us">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
            <title>Scraping for Stuff</title>
            <script src="https://code.jquery.com/jquery.js"></script>
        </head>
    </html>
    <body>
        {{{body}}}
    </body>
</html>
